
<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
rel="stylesheet"> -->
<!-- <div style="background: #333333;"> -->


<div class="container-fluid border text-white border-2 border-white" style="height: 85px; background: #333333;">
   <div class="row">
       <div class="col-6 ">
           <div class="row">
               <div class="col-2 ">Logo Section </div>
               <div class="col-3   border-left border-right border-right-h border-2  border-white">
                <p class="mb-0 text-center " style="font-weight: 400; font-size: 15px;"> Today's/Online Generated Energy(MWh) </p>  

                <!-- <div class="row ">
                       <div class="col text-center">
                           Today's/Online
                       </div>
                   </div>
                   <div class="row">
                       <div class="col text-center">
                           Generated Energy(MWh)
                       </div>
                   </div> -->
               </div>
               <div class="col-7 border-right border-right-h border-2">
                   <div class="row" >
                       <div class="col text-center font-weight-bold">
                       Energy (MWh)
                       </div>
                   </div>

                   <div class="row  comman-heading">
                       <!-- <div class="col"> -->
                       <!-- <div class="font-weight-bold energy-heading"> -->
                           <div class="col-3"><h6 class="mb-0">Y'Day</h6></div>
                           <div class="col-3"><h6 class="mb-0">Weekly</h6></div>
                           <div class="col-3"><h6 class="mb-0">Monthly</h6></div>
                           <div class="col-3"><h6 class="mb-0">Yearly</h6></div>
                       <!-- </div> -->
                   </div>

                       <div class="row font-weight-bold comman-heading">
                           <div class="col-3"><h5 class="mb-0">55.01</h5></div>
                           <div class="col-3"><h5 class="mb-0">55.01</h5></div>
                           <div class="col-3"><h5 class="mb-0">976.35</h5></div>
                           <div class="col-3"><h5 class="mb-0">12360.00</h5></div>
                       </div>


                       <!-- <div class="d-flex justify-content-around" >
                        <h5>Y'Day</h5>
                        <h5>Weekly</h5>
                        <h5>Monthly</h5>
                        <h5>Yearly</h5>
                       </div> -->

                       <!-- <div class="d-flex justify-content-around" >
                        <h3>55.01</h3>
                        <h3>55.01</h3>
                        <h3>976.35</h3>
                        <h3>12360.00</h3>
                       </div> -->
                             
                   <!-- </div>  -->
               </div>
           </div>
       </div>
       <div class="col-6">
           <div class="row" >
               <div class="col-6 border-right border-right-h border-2">
                   <div class="row font-weight-bold text-center mb-0"><div class="col">WMS</div></div>
                   <div class="row  comman-heading justify-content-center" >
                       <!-- <p> -->
                           <h6 class="pl-2 pr-2">Irradiance</h6>
                           <h6 class="pl-2 pr-2">Ambient temp</h6>
                           <h6 class="pl-2 pr-2">Module temp</h6>
                           <h6 class="pl-2 pr-2">Wind speed</h6>
                      
                   </div>
               </div>
               <div class="col-6">
                   <div class="row">
                       <div class="col-8 border-right border-right-h border-2">
                       <div class="row text-center font-weight-bold mb-0"><div class="col">Plant Data</div></div>

                           <div class="row comman-heading">
                               <div class="col-4"><h6 class="m-0"></h6></div>
                               <div class="col-4"><h6 class="m-0">PR</h6></div>
                               <div class="col-4"><h6 class="m-0">CUF</h6></div>
                           </div>
                           <div class="row comman-heading ">
                               <div class="col-4"><h6 class="m-0">Today's</h6></div>
                               <div class="col-4"><h6 class="m-0"></h6></div>
                               <div class="col-4 "><h6 class="m-0"></h6></div>
                           </div>
                           <div class="row comman-heading">
                               <div class="col-4"><h6 class="m-0">Y'day</h6></div>
                               <div class="col-4"><h6 class="m-0"></h6></div>
                               <div class="col-4"><h6 class="m-0"></h6></div>
                           </div>
                       </div>
                       <div class="col-4">Client Logo Section </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   
   <!-- <div class="row"> -->

       <!-- <div class="col-3">
           <div class="row">
               <div class="col-4  p-logo">Logo section</div>
               <div class="col-8 border-left border-right border-right-h border-2  border-light">
                   <div class="row ">
                       <div class="col text-center">
                           Today's /Online
                       </div>
                   </div>
                   <div class="row">
                       <div class="col text-center">
                           Generated Energy (MWh)
                       </div>
                   </div>
               </div>
           </div>
       </div> -->

       <!-- <div class="col-3 border-right border-right-h border-2">
           <div class="row" style="padding-bottom: 0px;">
               <div class="col text-center font-weight-bold">
               Energy (MWh)
               </div>
           </div>
           <div class="row pr-1">
               <div class="col">
               <div class="row font-weight-bold energy-heading">
                   <div class="col-3"><h6 class="mb-0">Y'Day</h6></div>
                   <div class="col-3"><h6 class="mb-0">Weekly</h6></div>
                   <div class="col-3"><h6 class="mb-0">Monthly</h6></div>
                   <div class="col-3"><h6 class="mb-0">Yearly</h6></div>
               </div>
               <div class="row font-weight-bold  ">
                   <div class="col-3"><h5 class="mb-0">55.01</h5></div>
                   <div class="col-3"><h5 class="mb-0">55.01</h5></div>
                   <div class="col-3"><h5 class="mb-0">976.35</h5></div>
                   <div class="col-3"><h5 class="mb-0">12360.00</h5></div>
               </div>
           </div> 
           </div>
       </div> -->

       <!-- <div class="col-3 border-2 border-right border-right-h border-light">
           <div class="row font-weight-bold text-center mb-0"><div class="col">WMS</div></div>
           <div class="row font-weight-bold energy-heading">
               <div class="col-3"><h6>Irradiance</h6></div>
               <div class="col-3"><h6>Ambient temp</h6></div>
               <div class="col-3"><h6>Module temp</h6></div>
               <div class="col-3"><h6>Wind speed</h6></div>
           </div>
       </div> -->

       <!-- <div class="col-3">
           <div class="row">
               <div class="col-6">
               <div class="row text-center font-weight-bold mb-0"><div class="col">Plant Data</div></div>
               <div class="row">
                   <div class="col energy-heading">
                    <div class="row">
                        <div class="col-4"><h6 class="m-0"></h6></div>
                        <div class="col-4"><h6 class="m-0">PR</h6></div>
                        <div class="col-4"><h6 class="m-0">CUP</h6></div>
                    </div>
                    <div class="row">
                        <div class="col-4"><h6 class="m-0">Today's</h6></div>
                        <div class="col-4"><h6 class="m-0"></h6></div>
                        <div class="col-4"><h6 class="m-0"></h6></div>
                    </div>
                    <div class="row">
                        <div class="col-4"><h6 class="m-0">Y'day</h6></div>
                        <div class="col-4"><h6 class="m-0"></h6></div>
                        <div class="col-4"><h6 class="m-0"></h6></div>
                    </div>
                   </div>
                </div>
               </div>
               <div class="col-6">Client logo section</div>
           </div>
       </div> -->
   
       <!-- </div> -->

</div>

 
<div class="container-fluid bg-dark font-weight-bold">
   <div class="row">
       <div class="col border-left pb-2" [ngStyle]="onActiveHome ? {'border-bottom': '4px solid #00ffff', 'border-right': '2px solid white'}
       : {'border-bottom': '2px solid white', 'border-right': '2px solid white'}">
           <a routerLink="/site/101/home" class="text-white">Home</a></div>
       <div class="col border-right border-bottom border-2 text-white">Plant SLD</div>
       <div class="col" [ngStyle]="onActiveInverter ? {'border-bottom': '4px solid #00ffff', 'border-right': '2px solid white'}
       : {'border-bottom': '2px solid white', 'border-right': '2px solid white'}">
           <a class="text-white" routerLink="/site/101/inverter">Inverter</a></div>
       <div class="col" [ngStyle]="onActiveScb ? {'border-bottom': '4px solid #00ffff', 'border-right': '2px solid white'}
        : {'border-bottom': '2px solid white', 'border-right': '2px solid white'}"><a routerLink="/site/101/scb" class="text-white"> SCB </a> </div>              
      
        <div class="col border-left pb-2" [ngStyle]="onActiveWMS ? {'border-bottom': '4px solid #00ffff', 'border-right': '2px solid white'}
       : {'border-bottom': '2px solid white', 'border-right': '2px solid white'}">
           <a routerLink="/site/101/wms" class="text-white">WMS</a></div>

       <div class="col border-right border-bottom border-2 text-white">ALARM</div>
       <div class="col border-left pb-2" [ngStyle]="onActiveReport ? {'border-bottom': '4px solid #00ffff', 'border-right': '2px solid white'}
       : {'border-bottom': '2px solid white', 'border-right': '2px solid white'}">
           <a routerLink="/site/101/report" class="text-white">Report</a></div>
       <div class="col border-bottom border-right border-2 text-white" style="cursor: pointer" (click)="logout()">Logout</div>
       <div class="col border-right border-bottom border-2 text-white">
          <!-- Date and Time -->
       <p class="m-0 font-weight-bold" >{{date   | date: "dd/MM/yyyy"}} <span >{{date   | date: "HH:mm:ss"}}</span></p>
       </div>
   </div>
</div>
<div class="container-fluid bg-dark   border-bottom border-left border-right border-2 border-white">
   <div class="row ">
       <div class="col p-1 text-center  text-white">
           Alarm section
       </div>
   </div>
</div>
<!-- </div> -->